{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h2>Edit Page of {{title}}</h2>
    <form action="{% url 'edit_page' title %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea id="content" name="content" class="form-control w-75" rows="5" required >{{content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
{% endblock %}