* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

button {
    font-family: inherit;
}

button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main h3 {
    margin-top: 0.5em;
}

footer {
    margin-top: 1em;
}

p {
    margin: 0.5em 0.5em;
}
.follower, .following {
    display:inline;
    padding: 0.5em;
    border-radius: 15px;
    color: white;
    margin-inline-end: 0.5em;
}

.following {
    background-color: #06D6A0;
}

.follower {
    background-color: #3399FF;
}

.follow-btn, .unfollow-btn {
    margin-left: 1em;
    padding: 0.5em 1em;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #3399FF;
    border-radius: 3px;
}


.create-post {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 1em 2.5%;
    margin-top: clamp(1em, 2.5vh, 1.5em);
}

.sub-button {
    margin-top: 1em; 
}

.like-num {
    margin-left: 0.5em;
}
#content::placeholder {
    text-align: right;
    transform: translateY(200%);
}

.username {
    font-weight: 500;
    margin-bottom: 0;
}

.time {
    color: rgb(88, 88, 88);
}
.post {
    border: 1px solid gray;
    border-radius: 15px;    
    margin-top: clamp(1em, 2.5vh, 1.5em);
    padding: 0.5em 2.5%
}


#follow-button {
    margin-left: 1em;
    padding: 0.5em 1em;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #3399FF;
    border-radius: 3px;
}

button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#profile-name  {
    display: inline-block;
    margin: 0.5em 0;
}

.like-btn {
    background-color: white;
    border: none;
}

.edit-btn {
    padding: 0 0.5em;
}