// Sass Language
// Basically extention of CSS with addition variables.
$color: red; // $<variable_name>: ...;

ul {
    font-size: 14px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}