{% extends "auctions/layout.html" %}

{% block title %}
    Categories
{% endblock %}
{% block body %}
    <form action="" method="get">
    <div class="btn-group btn-group-lg" role="group" aria-label="Categories">
        {% for key, value in categories.items %}
        <button type="submit" class="btn btn-secondary" value="{{key}}" name="category">{{value}}</button>
        {% endfor %}
    </div>
    </form>
    {% if items %}
        {% for item in items %}
        <div class="container-fluid border-bottom">
            <div class="row">
                <div class="col-4 align-self-center">
                <img src="{{item.image}}" class="img-fluid" alt="W3Schools.com" onerror="this.onerror=null;this.src='{{img_url}}';" style="width:240px;height:auto;">
                </div>
                <div class="col-8 align-self-center">
                <h3>Name: {{item.title}} </h2>
                <h3>Category: {{item.category}}</h2>
                {% if item.description %}
                    <h3>Description: {{item.description}}</h2>
                {% endif %}
                <h3>Price: {{item.price}} </h2>
                <h3>Createad at: {{item.created_time}}</h2>
                </div>
            </div>
        </div> 
        {% endfor %}
    {% endif %}
{% endblock %}