{% extends "auctions/layout.html" %}

{% block title %}
    Create a Listing
{% endblock %}
{% block body %}
    <h2>Create listing</h2>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endif %}
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <label for="title">Title of the Listing</label>
        <div class="form-group w-50">
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title" required>
        </div> 
        <label for="desc">Description</label>
        <div class="form-group w-50">
            <textarea class="form-control" id="desc" placeholder="Please describe your item" name="description"  maxlength="256"></textarea> 
        </div>
        <label for="category">Category</label>
        <div class="form-group">
            <select class="custom-select" id="category" name="category" style="width: 30%;">
                <option selected disabled >Choose a category </option>
                {% for key, value in category_dict.items %}
                    <option value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>              
        </div>
        <label for="price">Starting Price</label>
        <div class="input-group mb-3 w-25">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" id="price" name="price-1">
            <div class="input-group-append">
                <span class="input-group-text">.</span>
                <input type="number" class="form-control" name="price-2" style="width: 30%;"  maxlength="2" value="00" max="99">
            </div>
        </div>
        <label for="image">Image URL (Can be left blank)</label>
        <div class="form-group w-25">
            <input type="text" class="form-control" name="url" placeholder="Enter URL for image"> 
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}