{% extends "auctions/layout.html" %}

{% block title %}
    {{item.title}} | {{item.id}}
{% endblock %}

{% block script %}
    <script>
        var offImg = "{{watch_url}}"
        var onImg = "{{watched_url}}"
    </script>
{% endblock %}


{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if item %}
    <div class="container-fluid border-bottom pb-4">
        <div class="row">
            <div class="col-md-auto">
                <img src="{{item.image}}" class="img-fluid" alt="W3Schools.com" onerror="this.onerror=null;this.src='{{img_url}}';" style="width:240px;height:auto;">
            </div>
            {% if request.user.is_authenticated and item.active %}
            <form method="post">
                {% csrf_token %}
                <div class="col-md-auto">
                <button class="btn btn-default" data-toggle="button" name="watch" value="True">
                    {% if watched %}
                <img src="{{watched_url}}" id="watch" style="width:30px;height:auto;" onclick="this.src = this.src == offImg ? onImg : offImg;">
                    {% else %}
                    <img src="{{watch_url}}" id="watch" style="width:30px;height:auto;" onclick="this.src = this.src == offImg ? onImg : offImg;">
                    {% endif %}
                </button>
            </div>
            </form>
            {% endif %}
            <div class="col-6 align-self-center">
            {% if item.active %}
                <span class="badge bg-primary " style="font-size: x-large;color: white;">Active</span>
            {% else %}
                <span class="badge bg-secondary " style="font-size: x-large;color: white;">Inactive</span>
            {% endif %}
            <h3>Name: {{item.title}} </h2>
            <h3>Category: {{item.category}}</h2>
            {% if item.description %}
                <h3>Description: {{item.description}}</h2>
            {% endif %}
            <h3>Initial Price: {{item.initial_price}}</h3>
            <h3>Current Price: {{item.price}} </h2>
            <h3>Createad at: {{item.created_time}}</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
                <div class="col">
                    {% if max_bid and item.active %}
                    <p>Total Current bid(s) <strong>{{bid_count}}</strong> </p>
                    <p>Current Max Bid is <strong>{{max_bid}}</strong></p>
                    {% elif item.active %}
                    <p>There are currently no bids have been made.</p>
                    {% else %}
                        <h3>Item is sold for {{max_bid}}</h3>
                    {% if item.buyer.pk == request.user.id %}
                        <h3>Congrats. You've bought the item.</h3>
                    {% endif %}
                    {% endif %}
                </div>
        </div>
        <div class="row">
            <div class="col">
    {% if item.active %}
    {% if request.user.is_authenticated and not owner %}
                {% if user_bid %}
                <p>Your Max Bid is <strong>{{user_bid}}</strong></p>
                {% endif %}
            <label for="bid">Bid for item</label>   
            <form action="" method="post">
                {% csrf_token %}
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" step="0.01" min="0" class="form-control" id="bid" name="bid" placeholder="Bid">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
            </form>
    {% else %}
            {% if owner %}
            {% if max_bid%}
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit"  name="close" class="btn btn-primary" value="Close the Bid"></button>
            </form>
            {% else %}
            <span class="badge bg-secondary " style="font-size: large;color: white;">You can't close the bid.</span>
            {% endif %}
            {% endif %}
     {% endif %}
     {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col">
                <h2>Comments</h2>
            </div>
        </div>
    <div class="row">
        <div class="col">
    {% if comments %}
        {% for comment in comments %}
                <div class="card w-75">
                    <div class="card-body">
                        <p>{{comment.message}}</p>
                        <p class="card-text"><strong>{{comment.user.username}}</strong> <small class="text-muted">  {{comment.enter_time}}</small></p>
                    </div>
                </div>          

        {% endfor %}
    {% else %}
        <h3>No comments so far.</h3>
    {% endif %}
    </div>
        </div>
    {% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
    <div class="form-group w-50">
        <label for="comment">Add comment</label>
        <textarea class="form-control mb-3" id="comment" name="comment" rows="3"></textarea>
        <input type="submit" class="btn btn-primary" value="Send Comment">
      </div>
    </form>
    {% endif %}
    </div>
    {% else %}
        <h2> There are currently no items available</h2>
    {% endif %}
{% endblock %}
