{% extends "auctions/layout.html" %}

{% block title %}
    {{item.title}} | {{item.id}}
{% endblock %}

{% block script %}
    <script>
        var offImg = "{{watch_url}}"
        var onImg = "{{watched_url}}"
    </script>
{% endblock %}


{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if item %}
    <div class="container-fluid border-bottom">
        <div class="row">
            <div class="col-md-auto">
                <img src="{{item.image}}" class="img-fluid" alt="W3Schools.com" onerror="this.onerror=null;this.src='{{img_url}}';" style="width:240px;height:auto;">
            </div>
            {% if request.user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <div class="col-md-auto">
                <button class="btn btn-default" data-toggle="button" name="watch" value="True">
                    {% if watched %}
                <img src="{{watched_url}}" id="watch" style="width:30px;height:auto;" onclick="this.src = this.src == offImg ? onImg : offImg;">
                    {% else %}
                    <img src="{{watch_url}}" id="watch" style="width:30px;height:auto;" onclick="this.src = this.src == offImg ? onImg : offImg;">
                    {% endif %}
                </button>
            </div>
            </form>
            {% endif %}
            <div class="col-6 align-self-center">
            {% if item.active %}
                <span class="badge bg-primary " style="font-size: x-large;color: white;">Active</span>
            {% else %}
                <span class="badge bg-secondary " style="font-size: x-large;color: white;">Inactive</span>
            {% endif %}
            <h3>Name: {{item.title}} </h2>
            <h3>Category: {{item.category}}</h2>
            {% if item.description %}
                <h3>Description: {{item.description}}</h2>
            {% endif %}
            <h3>Price: {{item.price}} </h2>
            <h3>Createad at: {{item.created_time}}</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
            <p>Current bid(s)</p>
            </div>
    {% if request.user.is_authenticated %}
    <div class="container-fluid">
    <label for="bid">Bid for item</label>   
    </div>

            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
            <input type="number" class="form-control" id="bid" name="bid" placeholder="Bid">
            <div class="input-group-append">
                <input type="submit" class="btn btn-primary">
            </div>
    {% endif %}
        </div>
    </div>
    <h2>Comments</h2>
    {% if comments %}
        {% for comment in comments %}
            <div class="card w-75">
                <div class="card-body">
                    <p>{{comment.message}}</p>
                    <p class="card-text"><strong>{{comment.user.username}}</strong> <small class="text-muted">  {{comment.enter_time}}</small></p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>No comments so far.</h3>
    {% endif %}
    {% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
    <div class="form-group w-50">
        <label for="comment">Add comment</label>
        <textarea class="form-control mb-3" id="comment" name="comment" rows="3"></textarea>
        <input type="submit" class="btn btn-primary" value="Send Comment">
      </div>
    </form>
    {% endif %}
    {% else %}
        <h2> There are currently no items available</h2>
    {% endif %}
{% endblock %}
