body {
    background-color: #212121;
    color:#FFFFFF;
}
#logo {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20px;
    
}   
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: medium solid black;
    padding-bottom: 10px;
    opacity: 0.87;
}
.nav a {
    font-weight: 600;
    font-size: larger;
    margin-right: 2%;
    font-size:x-large;
    color:#FFFFFF;
    text-decoration: none;
}
.container {
    display: block;
}
.left-container {
    display: flex;
    align-items: left;
    justify-content: center;
    margin-left: 2%;
}
.right-container{
    display: flex;
    align-items: right;
    justify-content: center;
    column-gap: 30px;
    margin-right: 10px;
}

input[type="search"] {
    margin-top: 10px;
    width: 40%;
    padding: 14px 8px;
    border-radius: 20px;
    border: medium solid #aaa;
    box-sizing: border-box;
    background-color:#212121;
    color:#FFFFFF;
    font-size: large;
    background: transparent url("./images/search.svg") no-repeat 13px;
    text-indent: 40px;
}
.submits {
    margin-top: 20px;
    text-align: center;
}

input[type="submit"]{
    width: 10%;
    height: 10%;
    font-size: medium;
    padding: 10px 10px;
    background-color: #3d3d3d;
    color:#FFFFFF;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    margin-left: .4em;
    background-image: url("./images/clear.svg");
    cursor: pointer;
}

.nav a:hover {
    color:#bbb;
    text-decoration: none;
}
input[type="submit"]:hover{
    background-color: #2d2d2d;
    color:#FFFFFF;
    border: thin solid #2d2d2d ;
}

.title {
    margin-left: 2%;
    color: rgba(255, 0, 0, 0.573);
    font-weight: 50;
}
.search-bar {
    display:flex;
    margin-left: 2%;
    justify-content:space-between;
    margin-right: 20%;
}

input[id="search-long"] {
    width: 70%;
}

#advanced-btn {
    background-color:rgb(66, 128, 204);
}